<!DOCTYPE html>
<html>

<head>
    <title>UNDERSCORE DAY 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/vendor/normalize.css">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <div class="container"></div>
    <script type="text/template" id="animalInfo">
        <p><%= type %> likes to eat
        <% eats.forEach( function (foodItem) { %>
                    <a href="#"><%= foodItem %></a>
                    <% }) %>
        </p>
    </script>
    <script src="scripts/vendor/jquery.min.js"></script>
    <script src="scripts/vendor/underscore.min.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>
